* {
    margin: 0;
    padding: 0;
    color: oklch(0.92 0.004 286.32);
    font-family: Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    height: calc(100% - 4rem);
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(12, calc(calc(100% - 4rem) / 12));
    grid-auto-rows: auto;
    background-color: oklch(0.274 0.006 286.033);
}

h1 {
    grid-row: 1;
    grid-column: 3/11;
    text-align: center;
    height: 3rem;
    font-size: 2rem;
    line-height: 3rem;
}

#submissions {
    grid-column: 3 / 11;
    grid-row: 2;
}

#submissions>div {
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(8, calc(100% / 8));
    background-color: oklch(0.37 0.013 285.805);
}

#submissions>div>p {
    grid-column: 2 / 8;
    height: 3rem;
    line-height: 3rem;
}

a {
    box-sizing: content-box;
    margin: .25rem;
    border-radius: calc(2.5rem - 4px);
    border: 2px outset oklch(0.552 0.016 285.938);
    height: calc(2.5rem - 4px);
    font-size: 1rem;
    line-height: calc(2.5rem - 4px);
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    grid-row: 1;
    grid-column: 12;
    background-color: oklch(0.442 0.017 285.786);
}

a:hover {
    border: 2px outset oklch(0.442 0.017 285.786);
}

a:active {
    background-color: oklch(0.37 0.013 285.805);
}