<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>

<body>
    {%- if let Some(err) = error -%}
    <p>{{err}}</p>
    {%- endif -%}
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="token" value="{{token}}" hidden>
        <input type="text" value="{{challenge}}" readonly>
        <input type="text" name="answer" placeholder="Transformed challenge" required>
        <input type="submit" value="Login">
    </form>
    <a href="https://github.com/Sushi-Mampfer/authly/blob/master/SYNTAX.md" target="_blank" class="docs">Docs</a>
    <a href="/signup" class="switch">Register</a>
</body>

</html>