<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Sign Up</title>
</head>

<body>
    {%- if let Some(err) = error -%}
    <p>{{err}}</p>
    {%- endif -%}
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="pattern" placeholder="Pattern" required>
        <button type="submit">Sign Up</button>
    </form>
    <a href="https://github.com/Sushi-Mampfer/authly/blob/master/SYNTAX.md" target="_blank" class="docs">Docs</a>
    <a href="/login" class="switch">Login</a>
</body>

</html>