<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/signup.css">
    <title>SignUp</title>
</head>
<body>
    {%- if let Some(err) = error -%}
            <p>{{err}}</p>
    {%- endif -%}
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="username" required>
        <input type="text" name="pattern" placeholder="pattern" required>
        <button type="submit">SignUp</button>
    </form>
    <a href="https://github.com/Sushi-Mampfer/authly/blob/master/SYNTAX.md" target="_blank">Docs</a>
</body>
</html>